body {
    text-align: center;
}
.input-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.single-line-container,
.multi-line-container {
    height: 400px;
    flex-basis: 45%;
}

textarea {
    width: 100%;
    height: 100%;
    border: 1px solid turquoise;
}
@media (max-width: 767px) {
    .input-wrapper {
        flex-direction: column;
        margin: 10px 30px;
    }
}

.copied {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px 20px;
    background-color: rgba(64,224,208, 10);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transform: translate(-50%, -50%) scale(0.2, 0.2) ;
    transform-origin: center;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.shown {
    transform: translate(-50%, -50%) scale(1.5, 1.5) ;
    opacity: 0.7;
}